.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: auto; /* Adds scroll for the container */
    height: 550px; /* Adjust height to show 2 rows of tasks */
  }
  
  .task-container app-task-item {
    flex: 1 1 21%; /* Adjust to ensure 4 items per row */
    margin: 10px;
  }
  